<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定扫描的 包名 如果需要扫描多个包，中间用半角逗号隔开-->
        <property name="basePackage" value="com.xqy.www.mybatis.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>